

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-bottom: 6em;
}

.header {
	padding: 1em 0 2em;
	background-color: #1c2533;
	background: -webkit-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
	background: -o-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
	background: -ms-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
	background: -moz-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
	background: linear-gradient(20deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
	background-attachment: fixed;
	color: #fff;
	text-align: center;
}

.header h1 {
	font-size: 60px;
}

.header a {
	color: #fff;
}

.social {
	margin-top: 1em;
}

.search-bar {
	padding: 3em 0 2em;
	margin-bottom: 2em;
	background-color: #ECF0F1;
}

#search {
	border-color: #18bc9c;
	text-align: center;
}

.dropdown-menu {
	left: auto;
	right: 0;
}

.help-block {
	font-size: 12px;
	text-align: center;
}

.search-term {
	cursor: pointer;
}

.page-header {
	margin: 21px 0 0;
}

.page-header h1 {
	margin-bottom: 0;
}

.entry {
	padding: 2em 1em;
	height: 140px;
}

.entry:hover {
	background-color: #2c3e50;
	color: #fff;
	cursor: pointer;
}

.icon,
.description {
	text-align: center;
}

.icon {
	font-size: 30px;
}

.description {
	font-size: 12px;
}

footer {
	margin-top: 2em;
}

footer p {
	margin-bottom: 0;
	font-size: 12px;
}

@media screen and (max-width: 767px) {

	.header h1 {
		font-size: 36px;
	}

	h1 {
		font-size: 18px;
	}

	.tagline {
		font-size: 12px;
	}

	.search-bar {
		padding: 2em 0 1em;
	}

	#search {
		font-size: 16px;
	}

	.entry {
		height: 120px;
	}
}
