/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 61px;
  padding-bottom: 6em;
}

.navbar {
  max-height: 61px;
  overflow: hidden;
}

.navbar-fixed-top {
  position: absolute;
}

.social {
  margin-top: 2em;
  text-align: center;
}

.fb_iframe_widget {
  display: inline-block !important;
  width: auto !important;
}

.fb_iframe_widget span {
  width: 90px !important;
  height: 25px !important;
}

.search-bar {
  padding: 1em 0;
  margin-bottom: 2em;
  background-color: #ECF0F1;
  text-align: center;
}

#search {
  position: relative;
  margin-bottom: 0.5em;
  -webkit-appearance: none;
}

.section {
  margin-bottom: 2em;
}

.header {
  margin: 1em 0;
  border: none;
  text-align: center;
}

.header h1 {
  margin-bottom: 0;
  font-size: 30px;
}

.section {
  display: none;
}

.entry {
  padding: 2em 0.7em 1em;
  height: 170px;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.entry .thumb {
  font-size: 30px;
}

.entry .description {
  display: none;
}

.entry .tags {
  font-size: 0.8em;
  color: #597ea2;
  opacity: 0.6;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.entry em {
  font-weight: bold;
  font-style: normal;
}

.zeroclipboard-is-hover {
  background-color: #2c3e50;
  color: #fff;
  cursor: pointer;
}

.zeroclipboard-is-hover .tags {
  color: transparent;
}

@media screen and (max-width: 767px) {

  .navbar-header {
    float: left;
  }

  .navbar-nav {
    float: right;
  }

  #search {
    font-size: 16px;
  }

  .entry {
    height: 120px;
  }

  .entry .name {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {

  #libraries button {
    max-width: 50px;
    font-size: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.copied {
  z-index: 1040;
  position: fixed;
  top: 0;
  left: -20%;
  display: none;
  opacity: 1;
  width: 140%;
  height: 100%;
  background-color: #34495e;
  text-align: center;
}

.copied div {
  margin-top: 450px;
  padding: 30px 0;
  background-color: #7F8C9A;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 200;
  font-size: 100px;
  color: #ecf0f1;
}

#big-icon {
  z-index: -1;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 15em;
  color: #7F8C9A;
  color: rgba(255, 255, 255, 0.4);
}

.copied div.animateIn {
  -webkit-animation: copiedKeyFrames 0.4s ease !important;
  -moz-animation: copiedKeyFrames 0.4s ease !important;
  -ms-animation: copiedKeyFrames 0.4s ease !important;
  -o-animation: copiedKeyFrames 0.4s ease !important;
  animation: copiedKeyFrames 0.4s ease !important;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.copied div.animateOut {
  -webkit-animation: copiedKeyFramesOut 0.4s ease !important;
  -moz-animation: copiedKeyFramesOut 0.4s ease !important;
  -ms-animation: copiedKeyFramesOut 0.4s ease !important;
  -o-animation: copiedKeyFramesOut 0.4s ease !important;
  animation: copiedKeyFramesOut 0.4s ease !important;
  -webkit-animation-fill-mode: forwards !important;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes copiedKeyFramesOut {
  0% {
      -webkit-transform: scale(1);
      opacity: 1;
  }

  100% {
      -webkit-transform: scale(0.8);
      opacity: 0;
  }
}

@-moz-keyframes copiedKeyFramesOut {
  0% {
      -moz-transform: scale(1);
      opacity: 1;
  }

  100% {
      -moz-transform: scale(0.8);
      opacity: 0;
  }
}

@keyframes copiedKeyFramesOut {
  0% {
      transform: scale(1);
      opacity: 1;
  }

  100% {
      transform: scale(0.8);
      opacity: 0;
  }
}

@-webkit-keyframes copiedKeyFrames {
  0% {
      -webkit-transform: scale(1.2);
      opacity: 0;
  }

  100% {
      -webkit-transform: scale(1);
      opacity: 1;
  }
}

@-moz-keyframes copiedKeyFrames {
  0% {
      -moz-transform: scale(1.2);
      opacity: 0;
  }

  100% {
      -moz-transform: scale(1);
      opacity: 1;
  }
}

@keyframes copiedKeyFrames {
  0% {
      transform: scale(1.2);
      opacity: 0;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}
