/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-bottom: 6em;
}

.header {
	padding: 1em 0 2em;
	background-color: #1c2533;
	background: -webkit-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
	background: -o-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
	background: -ms-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
	background: -moz-linear-gradient(70deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
	background: linear-gradient(20deg,#080f1f 30%,#2b4b5a 87%,#435e67 100%);
	background-attachment: fixed;
	color: #fff;
	text-align: center;
}

.header h1 {
	font-size: 60px;
}

.header a {
	color: #fff;
}

.tagline .fa {
	margin-left: 0.5em;
}

.tagline .fa:hover {
	text-decoration: none;
}

.social {
	margin-top: 1em;
}

.twitter-share-button {
	width: 90px !important;
}

.search-bar {
	padding: 3em 0 2em;
	margin-bottom: 2em;
	background-color: #ECF0F1;
}

#search {
	border-color: #18bc9c;
	text-align: left;
}

.dropdown-menu {
	left: auto;
	right: 0;
}

.help-block {
	font-size: 13px;
	text-align: center;
}

.search-term {
	cursor: pointer;
}

.page-header {
	margin: 21px 0 0;
}

.page-header h1 {
	margin-bottom: 0;
}

#entries .section {
	position: relative;
}

.entry {
	padding: 2em 0.7em 1em;
	height: 170px;
	text-align: center;
	word-wrap: break-word;
	overflow: hidden;
	-webkit-transition: background-color 200ms;
	-moz-transition: background-color 200ms;
	-ms-transition: background-color 200ms;
	-o-transition: background-color 200ms;
	transition: background-color 200ms;
}

.zeroclipboard-is-hover {
	background-color: #2c3e50;
	color: #fff;
	cursor: pointer;
}
.entry .thumb {
	font-size: 30px;
}
.entry .description {
	display: none;
}
.entry .tags {
	font-size: 0.8em;
	color: #597ea2;
	opacity: 0.6;
}

.entry em {
	font-weight: bold;
	font-style: normal;
}

footer {
	margin-top: 2em;
}

footer p {
	margin-bottom: 0;
	font-size: 12px;
}

@media screen and (max-width: 767px) {

	.header h1 {
		font-size: 36px;
	}

	h1 {
		font-size: 18px;
	}

	.tagline {
		font-size: 12px;
	}

	.search-bar {
		padding: 2em 0 1em;
	}

	#search {
		font-size: 16px;
	}

	.entry {
		height: 120px;
	}
}

.copied {
    position: fixed;
    width: 140%;
    height: 100%;
    text-align: center;
    z-index: 200;
    top: 0px;
    left: -20%;
    display: none;
    opacity: 1;
    background: #3498db;
}

.copied div {
	font-family: "Lato";
	font-weight: 200;
    font-size: 100px;
    color: #ecf0f1;
    margin-top: 300px;
    text-shadow: 2px 2px #2c3e50;
    background: rgba(255, 255, 255, 0.4);
    padding: 30px 0;
}

.copied div.animateIn {
    -webkit-animation: copiedKeyFrames 0.4s ease !important;
    -moz-animation: copiedKeyFrames 0.4s ease !important;
    -ms-animation: copiedKeyFrames 0.4s ease !important;
    -o-animation: copiedKeyFrames 0.4s ease !important;
    animation: copiedKeyFrames 0.4s ease !important;
    -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards;
  /*FF 5+*/
    -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
    -ms-animation-fill-mode: forwards;
  /*IE 10+*/
    animation-fill-mode: forwards;
  /*when the spec is finished*/
}

.copied div.animateOut {
    -webkit-animation: copiedKeyFramesOut 0.4s ease !important;
    -moz-animation: copiedKeyFramesOut 0.4s ease !important;
    -ms-animation: copiedKeyFramesOut 0.4s ease !important;
    -o-animation: copiedKeyFramesOut 0.4s ease !important;
    animation: copiedKeyFramesOut 0.4s ease !important;
    -webkit-animation-fill-mode: forwards !important;
  /*Chrome 16+, Safari 4+*/
    -moz-animation-fill-mode: forwards;
  /*FF 5+*/
    -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
    -ms-animation-fill-mode: forwards;
  /*IE 10+*/
    animation-fill-mode: forwards;
  /*when the spec is finished*/
}
@-webkit-keyframes copiedKeyFramesOut {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.8);
        opacity: 0;
    }
}

@-moz-keyframes copiedKeyFramesOut {
    0% {
        -moz-transform: scale(1);
        opacity: 1;
    }

    100% {
        -moz-transform: scale(0.8);
        opacity: 0;
    }
}

@keyframes copiedKeyFramesOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}

@-webkit-keyframes copiedKeyFrames {
    0% {
        -webkit-transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes copiedKeyFrames {
    0% {
        -moz-transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@keyframes copiedKeyFrames {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}